<div class="container">
  <div class="row">
    <div class="col-md-3">
      会員一覧
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <% @customers.each do |customer| %>
          <tr>
            <th>
              メールアドレス
            </th>
            <th>
              氏名(せい)　氏名（めい）
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <%= link_to customer.name, customer_path(customer) %>
            </td>
            <td>
              <% if customer_signed_in? && customer == current_customer %>
                <%= link_to "編集", edit_customer_path(customer) %>
              <% end %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>