<div class="container">
  <div class="row">
    <div class="col-md-3">
      会員一覧
    </div>
    <div class="col-md-6">
      <table class="table">
        <thead>
          <% @customers.each do |customer| %>
          <tr>
            <th>
              メールアドレス
            </th>
            <th>
              氏名(せい)
            </th>
            <th>
              氏名（めい）
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= customer.email %>
            </td>
            <td>
              <%= link_to customer.first_name, customer_path(customer) %>
            </td>
            <td>
              <%= customer.last_name %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>