<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:limegreen;">
    <div class="container-fluid">
      <a class="barand-name" href="/">サンドイッチカフェ</a>
    </div>
  </nav>
</header>