<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light" style="background-color:rgba(200, 50, 50, 0.3);">
    <div class="container-fluid">
      <a class="barand-name" href="/">サンドイッチカフェ</a>
      <button class="navbar-toggler" style="button" data-toggler="collapse" data-taeget="#navbarNavList" aria-controls="navbarNavList" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

    </div>
  </nav>
</header>